.randomizer {
    width: 30%;
    margin: 0 auto;
}


.mainPicture  {
    /* position: absolute; */
    width: 500px;
    height: 500px;
    left: 470px;
    top: 37px;
}    
.outputInput {
/* position: absolute ; */
display: inline-block;
width: 556px;
height: 40px;
left: 492.3px;
top: 553px;

}
.dataInput {
/* position: absolute; */
display: inline-block;
width: 395px;
height: 40px;
border: 1px solid #E0E0E0;
border-radius: 5px;
}
.dataInput:hover {
border: 2px solid #1b81f5;
}
.dataOutput {
/* position: absolute; */
display: inline-block;
width: 130px;
height: 40px;
left: 428px;
background: #0462BB;
border: 1px solid #0462BB;
border-radius: 5px;
text-align:center;
}
.dataOutput:hover {    
border: 2px solid #1b81f5;
}
.goOutput {
display: inline-block;
width: 69px;
height: 17px;
font-style:normal;
font-family: Arial, Helvetica, sans-serif;
font-weight: 600;
font-size: 14px;
color: #FFFFFF;
}
.userTable {
    display:inline-block;
    width: 500px;
    top : 687px;
    left : 461.5px;
    margin-top: 10px;
    margin-left:33px;
}

.name{
    display:inline-block;
}
.number {
    display:inline-block;
    margin-left:348px;
}
.userInfo {
   margin-left: -38px;
   border-bottom: 2px solid gray;
}
.svgImage {
    display: inline-block;
    width: 24px;
    height: 24px;
}
.userName {
    display: inline-block;
    margin-left :10px
}
.userRezult {
   display: inline-block;
   margin-left : 384px;
}